:root {
  --base-hue: 90deg;
}

.my-dialog {
  overflow: initial;
  width: 600px;
  max-width: 80%;
  box-sizing: border-box;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px -8px black;
  padding: 1rem;
  transition: opacity 0.4s cubic-bezier(0.4, 1.6, 0.4, 0.8), translate 0.4s cubic-bezier(0.4, 1.6, 0.4, 0.8), overlay 0.4s allow-discrete,
    display 0.4s allow-discrete;

  opacity: 0;
  translate: 0 200%;
  &::backdrop {
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete, background-color 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &[open] {
    opacity: 1;
    translate: 0 0;
  }

  &[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@starting-style {
  .my-dialog[open] {
    opacity: 0;
    translate: 0 -200%;

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.closeDialog {
  width: 32px;
  box-shadow: 0 0 20px -4px black;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  right: -16px;
  top: -16px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    scale: 1.2;
  }
}
.df {
  display: flex;
}
.jcsa {
  justify-content: space-around;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.g2 {
  gap: 2rem;
}
.g1 {
  gap: 1rem;
}
.g0dot5 {
  gap: 0.5rem;
}
.w20px {
  width: 20px;
}
.h20px {
  height: 20px;
}
.m0 {
  margin: 0px;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt4 {
  margin-top: 4rem;
}
.fww {
  flex-wrap: wrap;
}
.surveyForm {
  overflow: hidden;
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dialogHolder {
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    transition: 0.3s;
    opacity: 1;
    scale: 1;
    overflow: initial;

    &.hide {
      opacity: 0;
      scale: 0;
      padding: 0;
      margin: 0;

      overflow: hidden;
    }
    .dialogHolderDivs {
      float: left;
      width: 100%;
      &.first {
        position: relative;
        top: 0;
        left: 0px;
        transition: 0.3s;
      }

      &.second {
        position: relative;
        top: 0;
        left: 0px;
        transition: 0.3s;
      }

      &.third {
        position: relative;
        top: 0;
        left: 0px;
        transition: 0.3s;
      }
    }
  }
}
.mainTitle{
  margin: 2rem 0;
}
.title {
  font-size: 24px;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.for_me_answer {
  width: 97%;
  height: 100px;
  margin-bottom: 1rem;
  resize: vertical;
}
.button {
  border-radius: 0.5rem;
  width: 80%;
  height: 40px;
  border: 0;
  background: #ff2d73;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
input[type="radio"] {
  accent-color: #ff2d73;
}
.errorText {
  font-size: 22px;
  font-weight: 600;
  color: #ff2d73;
  scale: 1;
  opacity: 1;
  max-height: 400px;
  &.hide {
    display: none;
  }
}
.successText {
  font-size: 22px;
  font-weight: 600;
  color: #ff2d73;
  scale: 1;
  opacity: 1;
  max-height: 400px;
}
